@charset "UTF-8";
/*============================== common style ============================== */
html, body, div, ul, li, p, span, img, a, h1, h2, h3 {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
}
body {
    font-family: "PingFang SC", "STHeiti", "Microsoft YaHei", "宋体";
    /*background: #483c55;*/
}
a {
    text-decoration: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
p {
    text-align: justify;
}
li {
    list-style: none;
}
input {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a.btn {
    display: inline-block;
    margin: auto;
    padding: 10px 12px;
    font-size: .875rem;
    line-height: 1.43;
    color: #fff;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    background: #ff6826;
}
.clr_50e3c2 {
    color: #50e3c2;
}
/***************************** page style ************************************/
.page {
    max-width: 640px;
    padding-bottom: 60px;
    margin: auto;
    background: url("../images/pic-bg-dots.png") center/77.1% auto repeat-y #06031a;
}
.pic-wrap > img {
    width: 100%;
    max-width: 100%;
    vertical-align: top;
}
.block {
    position: relative;
    margin: auto 12px;
}
.block-time-line {
    height: 80px;
    margin-top: -134px;
    overflow: hidden;
    /*overflow-x: scroll;*/
    /*overflow-y: hidden;*/
}
/*.block-time-line::-webkit-scrollbar {*/
    /*height: 0;*/
/*}*/
.time-line {
    position: relative;
    top: 28px;
    left: 0;
    margin: 0 auto 28px;
    font-size: 0;

    overflow: visible;
    white-space: nowrap;
}
.time-line li {
    position: relative;
    display: inline-block;
    width: 22px;
    height: 22px;
    margin-right: 44px;
    background: url("../images/icon-planet.png") center/100% 100% no-repeat;

    vertical-align: bottom;
}
.time-line li:after {
    content: "";
    position: absolute;
    left: 20px;
    bottom: 10px;
    display: inline-block;
    width: 44px;
    border-top: 2px dashed #50e3c2;
}
.time-line li:last-child {
    margin-right: 24px;
}
.time-line li:last-child:after {
    width: 0;
}
.time-line li p {
    position: absolute;
    left: 50%;
    bottom: -28px;
    width: 60px;
    margin-left: -30px;
    font-size: .75rem;
    line-height: 1.2;
    color: #999;
    text-align: center;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.time-line li.active {
    width: 22px;
    height: 46px;
    margin-top: -24px;
    background-image: url("../images/icon-rocket.png");;
}
.time-line li.active p {
    color: #50e3c2;
}
.time-line li.pending:before {
    content: "";
    position: absolute;
    top: -18px;
    left: 50%;
    display: inline-block;
    width: 28px;
    height: 16px;
    margin-left: -14px;
    background: url("../images/icon-pending.png") center/100% 100% no-repeat;
}
.block-banner {
    margin-top: 16px;
}
.block-banner .banner {
    position: relative;
    /*height: 198px;*/
    font-size: 0;
}
.block-banner .banner img.cover {
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
    border: 2px solid #50e3c2;
}
.block-banner .banner img.play {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 38px;
    height: 38px;
    margin-top: -19px;
    margin-left: -19px;
}
.block-countdown {
    margin-top: 10px;
}
.block-countdown > p {
    font-size: .8125rem;
    line-height: 1.4;
    color: #50e3c2;
    text-align: center;
}
.block-countdown > p.title {
    font-size: 1.125rem;
    line-height: 2;
}
.block-countdown p span {
    color: #f8e71c;
}
.block-countdown .countdown {
    margin-top: 5px;
    font-size: 0;
    text-align: center;
}
.block-countdown .countdown li {
    display: inline-block;
    width: 38px;
    height: 38px;
    margin-right: 15px;
    background: url("../images/icon-calendar.png") center/100% 100% no-repeat;
    vertical-align: top;
}
.block-countdown .countdown li:last-child {
    margin-right: 0;
}
.countdown li span {
    display: block;
    color: #06031a;
    text-align: center;
}
.countdown li span.number {
    height: 26px;
    font-size: 1.25rem;
    line-height: 1.3;
}
.countdown li span.word {
    height: 12px;
    font-size: .5625rem;
    line-height: 1.2;
}
.block-btn {
    margin-top: 10px;
    text-align: center;
}
.block-dynamic-info {
    position: relative;
    height: 62px;
    margin-top: 16px;
    overflow: hidden;
}
.dynamic-info-wrapper {
    position: relative;
    z-index: 0;
    height: 62px !important;
    box-sizing: border-box;
    border-radius: 6px;
    border: 1px solid #50e3c2;
}
.dynamic-info-wrapper > div {
    position: absolute;
    top: 0;
    height: 100%;
}
.dynamic-info-wrapper .left {
    left: 0;
    width: 60px;
    border-right: 1px solid #50e3c2;
    background: url("../images/pic-dynamic.png") center/100% 100% no-repeat;
}
.dynamic-info-wrapper .right {
    right: 0;
    width: 100px;
    border-left: 1px solid #50e3c2;
}
.block-dynamic-info .swiper-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
}
.dynamic-info-item {
    display: block;
    height: 62px !important;
    box-sizing: border-box;
    overflow: hidden;
}
.dynamic-info-item img {
    position: absolute;
    top: 1px;
    right: 1px;
    width: 100px;
    height: 60px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
.dynamic-info-item p {
    max-height: 60px;
    padding: 10px 108px 10px 68px;
    font-size: .875rem;
    line-height: 1.43;
    color: #fff;

    /*overflow: hidden;*/
    /*white-space: nowrap;*/
    /*text-overflow: ellipsis;*/
}
.block-star {
    margin-top: 20px;
    /*overflow: hidden;*/
}
.block-star > .title {
    font-size: 1.125rem;
    line-height: 1.78;
    color: #50e3c2;
    border-bottom: 1px solid #50e3c2;
}
.block-star > .title img {
    vertical-align: middle;
}
.block-star > .title > img {
    width: 24px;
    height: 24px;
    margin-right: 5px;
    margin-bottom: 4px;
}
.block-star > .title a.external-link {
    float: right;
    display: inline-block;
    font-size: .875rem;
    line-height: 2.36;
    color: #fff;
}
.block-star > .title a.external-link img {
    width: 8px;
    height: 14px;
    margin-left: 4px;
    margin-bottom: 3px;
}
.block-star-lineup .stars-wrap {
    position: relative;
    height: 200px;
    margin-bottom: 16px;
    font-size: 0;
    text-align: center;
}
.block-star-lineup .stars-wrap > img {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    width: 200px;
    height: 200px;
    margin-top: -100px;
    margin-left: -100px;
}
/*.stars-wrap .swiper-container {*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*width: 100%;*/
/*}*/
/*.stars-wrap .swiper-slide {*/
    /*width: 40% !important;*/
    /*font-size: 0;*/
/*}*/
/*.stars-wrap .swiper-slide img {*/
    /*width: 122px;*/
    /*margin-top: 60px;*/
    /*border-radius: 50%;*/
    /*border: 1px solid #50e3c2;*/
    /*vertical-align: top;*/
/*}*/
/*.stars-wrap .focus img {*/
    /*width: 180px;*/
    /*margin-top: 30px;*/
/*}*/
.block-star-lineup p {
    text-align: center;
}
.block-star-lineup p.star-name {
    font-size: 1.125rem;
    line-height: 1.4;
    color: #50e3c2;
}
.block-star-lineup p.star-statistics {
    margin-top: 5px;
    font-size: .875rem;
    line-height: 1;
    color: #fff;
}
.block-star-lineup p.star-statistics span {
    color: #50e3c2;
}
.block-star-lineup p.star-statistics span.index {
    margin-right: 12px;
}
.fans-wrap {
    margin-top: 12px;
}
.fans-wrap div.fans-title {
    text-align: center;
}
.fans-wrap div.fans-title span {
    position: relative;
    padding: 0 10px;
    font-size: .875rem;
    line-height: 1;
    color: #50e3c2;
}
.fans-wrap div.fans-title span:before,
.fans-wrap div.fans-title span:after {
    content: "";
    position: absolute;
    top: 9px;
    display: inline-block;
    width: 60px;
    border-top: 1px solid #50e3c2;
}
.fans-wrap div.fans-title span:before {
    left: -60px;
}
.fans-wrap div.fans-title span:after {
    right: -60px;
}
.fans-wrap ul {
    margin-top: 8px;
    font-size: 0;
}
.fans-wrap ul li {
    position: relative;
    display: inline-block;
    margin-right: 21px;
    vertical-align: top;
}
.fans-wrap ul li:last-child {
    margin-right: 0;
}
.fans-wrap ul li > div {
    position: relative;
}
.fans-wrap ul li > div img {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    border: 2px solid #50e3c2;

    vertical-align: top;
}
.fans-wrap ul li > div span {
    position: absolute;
    top: -2px;
    left: -2px;
    font-size: 1.125rem;
    line-height: 1;
    color: #50e3c2;
}
.fans-wrap ul li > p {
    position: relative;
    left: 50%;
    bottom: -2px;
    width: 60px;
    margin-left: -30px;
    font-size: .75rem;
    line-height: 1.5;
    color: #fff;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.fans-wrap ul li > p span {
    font-size: .875rem;
    color: #50e3c2;
}
.block-star > a.btn-link {
    display: block;
    width: 100%;
    margin-top: 20px;
    font-size: 1.125rem;
    line-height: 2.34;
    color: #50e3c2;
    text-align: center;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    border: 1px solid #50e3c2;
}
.block-star > a.btn-link img {
    vertical-align: middle;
    margin-bottom: 3px;
}
.block-star > a.btn-link img:first-child {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    margin-bottom: 5px;
}
.block-star > a.btn-link img:last-child {
    width: 8px;
    height: 14px;
    margin-left: 10px;
}
.block-star-lineup .pic-wrap {
    margin-top: 20px;
}
.block-star-lineup .pic-wrap img {
    border-radius: 8px;
}
.star-video-wrap ul {
    margin-bottom: 21px;
    font-size: 0;
}
.star-video-wrap ul li {
    display: inline-block;
    width: 50%;
    margin-top: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    vertical-align: top;
}
.star-video-wrap ul li:nth-child(2n + 1) {
    padding-right: 5px;
}
.star-video-wrap ul li:nth-child(2n) {
    padding-left: 5px;
}
.star-video-wrap ul li .cover-wrap {
    position: relative;
    width: 100%;
    -webkit-border-radius: 8px;
    border-radius: 6px;
    overflow: hidden;
}
.star-video-wrap ul li p {
    height: 36px;
    margin-top: 4px;
    font-size: .8125rem;
    line-height: 1.4;
    color: #fff;
}
.star-video-wrap .cover-wrap > img {
    max-width: 100%;
}
.star-video-wrap .cover-wrap > span {
    position: absolute;
    right: 0;
    bottom: 0;
    display: inline-block;
    padding: 0 4px;
    font-size: .75rem;
    color: #fff;
    border-top-left-radius: 6px;
    background: rgba(0, 0, 0, .7);
}
.star-video-wrap .cover-wrap > span img {
    width: 10px;
    height: 10px;
    margin-right: 3px;
    margin-bottom: -1px;
}
.block-star .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 0;
}
.swiper-pagination-bullet {
    background: #999;
}
.swiper-pagination-bullet-active {
    background: #50e3c2;
}
.review-video-wrap {
    margin-top: 8px;
}
.review-video-wrap .review-video {
    position: relative;
    width: 90% !important;
}
.review-video-wrap .review-video img.cover {
    width: 100%;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    border: 2px solid #50e3c2;
    box-sizing: border-box;
}
.review-video-wrap .review-video img.play {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 38px;
    height: 38px;
    margin-left: -19px;
    margin-top: -34px;
}
.review-video-wrap .review-video p {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 14px 12px;
    font-size: .8125rem;
    line-height: 1.4;
    color: #fff;
    box-sizing: border-box;
}
.review-video-wrap .review-video p span {
    font-size: .875rem;
    color: #50e3c2;
}
.block-about .top,
.block-about .bottom {
    position: relative;
    font-size: 0;
}
.block-about .top > img,
.block-about .bottom > img {
    max-width: 100%;
}
.block-about .top .title {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    padding-top: 34px;
    font-size: 1.125rem;
    line-height: 1;
    color: #50e3c2;
    text-align: center;
}
.block-about .top .title img {
    width: 18px;
    height: 17px;
    margin: 0 6px -3px 6px;
}
.block-about p {
    padding: 0 12px;
    font-size: .875rem;
    line-height: 1.4;
    color: #fff;
    text-indent: 1.75rem;
    text-align: justify;
    border-left: 1px solid #50e3c2;
    border-right: 1px solid #50e3c2;
}
.page-share .block-text {
    margin-top: 12px;
}
.page-share .block-text > p {
    font-size: .875rem;
    line-height: 1.5;
    color: #50e3c2;
    text-align: center;
}
.page-share .block-btn {
    margin: 16px 0;
}
.page-share .block-btn a.btn {
    width: 80%;
    padding: 0;
    font-size: 1.125rem;
    line-height: 2.5;
}

/***************************** Media Queries **********************************/
@media only screen and (min-width: 415px) {
    .block-time-line {
        margin-top: -226px;
    }
    .fans-wrap ul li {
        margin-right: 91px;
    }
    .block-about .top .title {
        padding-top: 68px;
    }
}
@media only screen and (min-width: 379px) and (max-width: 414px) {
    .block-time-line {
        margin-top: -148px;
    }
    .fans-wrap ul li {
        margin-right: 35px;
    }
    .block-about .top .title {
        padding-top: 40px;
    }

    .block-star-lineup .stars-wrap {
        height: 220px;
        margin-bottom: 28px;
    }
    .block-star-lineup .stars-wrap > img {
        width: 220px;
        height: 220px;
        margin-top: -110px;
        margin-left: -110px;
    }
    .sky-carousel {
        height: 240px;
    }
}
@media only screen and (max-width: 333px) {
    .block-time-line {
        margin-top: -116px;
    }
    .fans-wrap ul li {
        margin-right: 11px;
    }
    .block-about .top .title {
        padding-top: 28px;
    }

    .block-star-lineup .stars-wrap {
        height: 160px;
        margin-bottom: 4px;
    }
    .block-star-lineup .stars-wrap > img {
        width: 160px;
        height: 160px;
        margin-top: -80px;
        margin-left: -80px;
    }
    .sky-carousel {
        height: 164px;
    }
}